<h2>Make a new Recipe</h2>
<br>
<form method="POST" action="/recipes">
    <p>Name: <input type="text" name="name"></p>
    <p>Ingredients: <input type="text" name="ingredients"></p>
    <p>Cooktime: <input type="text" name="cook_time"></p>
    <input type="submit">
</form>